In [1]:
import pandas as pd

## Year 2021

### Assessment Data

https://www.isbe.net/_layouts/Download.aspx?SourceUrl=/Documents/2021-RC-Pub-Data-Set.xlsx

In [2]:
data = pd.read_csv('sat21.csv')
data = data[data['Type'] == 'School']

In [3]:
col_name = ['RCDTS',
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',
 '# Students SAT ELA Participation']

In [4]:
test_data = data.loc[data['# Students SAT ELA Participation'] > 0, col_name].rename(
    columns = {'RCDTS':'schoolcode', '# Students SAT ELA Participation':'totaltested'})

test_data['elapass'] = test_data['SAT Reading Total Students Level 3 %'] + test_data[
    'SAT Reading Total Students Level 4 %']

test_data = test_data.drop(columns = [
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',])

test_data['totaltested'] = test_data['totaltested'].astype('int')
test_data['elapass'] = round(test_data['elapass'], 2)

test_data.head()

         schoolcode  totaltested  elapass
1   010010010260001           41     22.0
4   010010020260001           45     26.6
7   010010030260001           49     26.5
12  010010040260001           39     20.5
16  010011720220003          425     28.5

### Demographics Data

In [5]:
data = pd.read_csv('enr21.csv')
data = data[data['Type'] == 'School']

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (766,767,780,781,794,795,808,809,816,817,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
col_name = ['RCDTS', '# Student Enrollment', 
            '% Student Enrollment - White', 
            '% Student Enrollment - Black or African American', 
            '% Student Enrollment - Hispanic or Latino',
           '% Student Enrollment - Low Income']

In [7]:
demo = data.loc[data['# Student Enrollment'] > 0, col_name].rename(
    columns = {'RCDTS':'schoolcode', '# Student Enrollment':'totalenrolled', 
              '% Student Enrollment - White':'white',
              '% Student Enrollment - Black or African American':'black',
              '% Student Enrollment - Hispanic or Latino':'hispanic',
              '% Student Enrollment - Low Income':'lowincome'}).fillna(0)

demo.loc[:, ['white', 'black', 'hispanic', 'lowincome']] = round(demo.loc[:, 
['white', 'black', 'hispanic', 'lowincome']], 2)

demo.head()

        schoolcode  totalenrolled  white  black  hispanic  lowincome
1  010010010260001            241   96.3    0.0       0.0       36.9
2  010010010262002            263   94.7    0.0       0.0       47.9
4  010010020260001            270   95.2    0.0       0.0       22.2
5  010010020262002            355   97.5    0.0       0.0       27.6
7  010010030260001            257   96.9    0.0       0.0       39.3

In [8]:
ela21 = test_data.merge(demo, on = 'schoolcode')
ela21['year'] = '2021'

## Year 2019

https://www.isbe.net/_layouts/Download.aspx?SourceUrl=/Documents/2019-Report-Card-Public-Data-Set.xlsx

### Assessment Data

In [9]:
data = pd.read_csv('sat19.csv')
data = data[data['Type'] == 'School']

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
col_name = ['RCDTS',
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',
 '# Students SAT ELA Participation']

In [11]:
test_data = data.loc[data['# Students SAT ELA Participation'] > 0, col_name].rename(
    columns = {'RCDTS':'schoolcode', '# Students SAT ELA Participation':'totaltested'})

test_data['elapass'] = test_data['SAT Reading Total Students Level 3 %'] + test_data[
    'SAT Reading Total Students Level 4 %']

test_data = test_data.drop(columns = [
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',])

test_data['totaltested'] = test_data['totaltested'].astype('int')
test_data['elapass'] = round(test_data['elapass'], 2)

test_data.head()

         schoolcode  totaltested  elapass
9   150162990250849           75     18.6
11  040042000260003          123     30.9
15  540922250170001           33     22.6
17  170532300170001           55     41.8
23  210281030130001          139     21.9

### Demographics Data

In [12]:
data = pd.read_csv('enr19.csv')
data = data[data['Type'] == 'School']

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2,8,9,10,11,12,773,774,787,788,801,802,815,816,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,843,844,845,846,847,848,849,850) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
col_name = ['RCDTS', '# Student Enrollment', 
            '% Student Enrollment - White', 
            '% Student Enrollment - Black or African American', 
            '% Student Enrollment - Hispanic or Latino',
           '% Student Enrollment - Low Income']

In [14]:
demo = data.loc[data['# Student Enrollment'] > 0, col_name].rename(
    columns = {'RCDTS':'schoolcode', '# Student Enrollment':'totalenrolled', 
              '% Student Enrollment - White':'white',
              '% Student Enrollment - Black or African American':'black',
              '% Student Enrollment - Hispanic or Latino':'hispanic',
              '% Student Enrollment - Low Income':'lowincome'}).fillna(0)

demo.loc[:, ['white', 'black', 'hispanic', 'lowincome']] = round(demo.loc[:, 
['white', 'black', 'hispanic', 'lowincome']], 2)

demo.head()

        schoolcode  totalenrolled  white  black  hispanic  lowincome
0  010010010260001            239   95.4    0.0       0.4       46.4
1  010010010262002            316   94.6    0.3       0.0       51.9
2  010010020260001            288   97.6    0.3       0.0       20.5
3  010010020262002            350   97.4    0.3       0.0       25.1
4  010010030260001            237   98.3    0.0       0.0       42.2

In [15]:
ela19 = test_data.merge(demo, on = 'schoolcode')
ela19['year'] = '2019'

## Year 2018

https://www.isbe.net/_layouts/Download.aspx?SourceUrl=/Documents/Report-Card-Public-Data-Set.xlsx

### Assessment Data

In [16]:
data = pd.read_csv('sat18.csv')
data = data[data['Type'] == 'School']

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [17]:
col_name = ['RCDTS',
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',
 'Total Students SAT ELA Participation']

In [18]:
test_data = data.loc[data['Total Students SAT ELA Participation'] > 0, col_name].rename(
    columns = {'RCDTS':'schoolcode', 'Total Students SAT ELA Participation':'totaltested'})

test_data['elapass'] = test_data['SAT Reading Total Students Level 3 %'] + test_data[
    'SAT Reading Total Students Level 4 %']

test_data = test_data.drop(columns = [
 'SAT Reading Total Students Level 3 %',
 'SAT Reading Total Students Level 4 %',])

test_data['totaltested'] = test_data['totaltested'].astype('int')
test_data['elapass'] = round(test_data['elapass'], 2)

test_data.head()

        schoolcode  totaltested  elapass
1   10010010260001           35     42.9
4   10010020260001           46     37.0
7   10010030260001           52     32.6
12  10010040260001           56     35.7
16  10011720220003          407     29.7

### Demographics Data

In [19]:
data = pd.read_csv('enr18.csv')
data = data[data['Type'] == 'School']

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
col_name = ['RCDTS', 'Student Enrollment - Total', 
            'Student Enrollment - White %', 
            'Student Enrollment - Black or African American %', 
            'Student Enrollment - Hispanic or Latino %',
           'Student Enrollment - Low Income %']

In [21]:
demo = data.loc[data['Student Enrollment - Total'] > 0, col_name].rename(
    columns = {'RCDTS':'schoolcode', 'Student Enrollment - Total':'totalenrolled', 
              'Student Enrollment - White %':'white',
              'Student Enrollment - Black or African American %':'black',
              'Student Enrollment - Hispanic or Latino %':'hispanic',
              'Student Enrollment - Low Income %':'lowincome'}).fillna(0)

demo.loc[:, ['white', 'black', 'hispanic', 'lowincome']] = round(demo.loc[:, 
['white', 'black', 'hispanic', 'lowincome']], 2)

demo.head()

       schoolcode  totalenrolled  white  black  hispanic  lowincome
1  10010010260001          246.0   96.7    0.0       0.0       43.9
2  10010010262002          311.0   93.9    0.0       0.0       52.7
4  10010020260001          281.0   98.6    0.0       0.0       22.4
5  10010020262002          318.0   96.9    0.0       0.0       26.7
7  10010030260001          245.0   96.3    0.0       0.0       42.0

In [22]:
ela18 = test_data.merge(demo, on = 'schoolcode')
        
for i in list(ela18.schoolcode):
    if len(str(i)) != 15:
        ela18.loc[ela18.schoolcode == i, 'schoolcode'] = '0' + str(i)
        
ela18.schoolcode = ela18.schoolcode.astype('str')

ela18['year'] = '2018'

## Year 2017

https://www.isbe.net/_layouts/Download.aspx?SourceUrl=/Documents/2017_PARCC_SAT_ACT_enrollment.xlsx

### Assessment Data

In [23]:
data = pd.read_csv('sat17.csv').dropna()
data = data.rename(columns = {'RCDTS':'schoolcode', 
                             'ELA':'elapass',
                             ' totalenrolled ':'totalenrolled'}).loc[:, 
                            ['schoolcode', 'elapass', 'totalenrolled']]

### Demographics Data

In [24]:
demo = pd.read_csv('enr17.csv').drop(columns = 'dropout')
totaltested = pd.read_csv('totaltest17.csv').loc[:, ['schoolcode', 'elatest']].rename(
    columns = {'elatest':'totaltested'})
ela17 = demo.merge(data, on = 'schoolcode').merge(totaltested, on ='schoolcode')
ela17['year'] = '2017'

## Merge Data (2017 - 2021)

In [25]:
mutual_school = list(set(ela17.schoolcode).intersection(set(ela18.schoolcode)).intersection(
    set(ela19.schoolcode)).intersection(set(ela21.schoolcode)))

mutual_ela17 = ela17.loc[ela17['schoolcode'].isin(mutual_school)]
mutual_ela18 = ela18.loc[ela18['schoolcode'].isin(mutual_school)]
mutual_ela19 = ela19.loc[ela19['schoolcode'].isin(mutual_school)]
mutual_ela21 = ela21.loc[ela21['schoolcode'].isin(mutual_school)]

In [26]:
all_year = pd.concat([mutual_ela17,mutual_ela18,mutual_ela19,mutual_ela21])
all_year.loc[:, ['totaltested', 'totalenrolled']] = all_year.loc[:, 
['totaltested', 'totalenrolled']].astype('int')

all_year.to_csv('elapass_il_17_21.csv')

### Pandemic Instruction Modality Data

In [3]:
mode = pd.read_csv('schoolmode_il.csv')

In [4]:
charter_mode = mode.loc[:, ['StateAssignedSchoolID', 'Charter']].drop_duplicates().rename(columns = {'StateAssignedSchoolID':
             'schoolcode', 'Charter':'charter'})
charter_map = {'No':0, 'Yes':1}
charter_mode['charter'] = charter_mode['charter'].map(charter_map)
charter_mode.head()

         schoolcode  charter
0    80432100260002        0
11   80432100261001        0
22   80432100262003        0
33  11012004C260001        0
44  11012004C262003        0

In [5]:
mode = mode[mode['LearningModel']!='Closed']

il_mode = mode.groupby(['StateAssignedSchoolID', 'NCESSchoolID'])['LearningModel'].value_counts(
    normalize = True).to_frame().rename(columns = {'LearningModel':'normalized'}).reset_index().rename(
columns = {'StateAssignedSchoolID':'schoolcode'})

il_mode = il_mode.pivot(columns = 'LearningModel', values = 'normalized', 
index = ['schoolcode','NCESSchoolID']).reset_index().fillna(0).loc[:, 
        ['schoolcode', 'NCESSchoolID', 'Hybrid', 'Virtual', 'In-person']].rename(
columns = {'Hybrid':'hybridper', 'Virtual':'virtualper', 'In-person':'inpersonper'})

il_mode['schoolmode'] = 1 * il_mode['virtualper'] + 0.5 * il_mode['hybridper']

il_mode.loc[:, ['hybridper', 'virtualper', 'inpersonper', 'schoolmode']] = round(
    il_mode.loc[:, ['hybridper', 'virtualper', 'inpersonper', 'schoolmode']], 2)

il_mode = il_mode.merge(charter_mode, on = 'schoolcode')

for i in list(il_mode.schoolcode):
    if len(str(i)) != 15:
        il_mode.loc[il_mode.schoolcode == i, 'schoolcode'] = '0' + str(i)
        
il_mode['schoolcode'] = il_mode['schoolcode'].astype('str')

il_mode.head()

,schoolcode,NCESSchoolID,hybridper,virtualper,inpersonper,schoolmode,charter
0,04101205025201C,173451006077,0.00,0.00,1.00,0.00,1
1,04101205025202C,173451006044,0.18,0.09,0.73,0.18,1
2,04101205025203C,173451006154,0.00,0.00,1.00,0.00,1
3,07016113A021002,170729001933,0.70,0.00,0.30,0.35,0
4,07016113A022002,170729002507,0.50,0.20,0.30,0.45,0

In [6]:
test_mode = pd.read_csv('elapass_il_17_21.csv').iloc[:, 1:].merge(il_mode, 
on = 'schoolcode')

test_mode['countycode'] = test_mode['schoolcode'].apply(lambda x: x[:4]) + 'il'
test_mode['districtcode'] = test_mode['schoolcode'].apply(lambda x: x[:-4]) + 'il'
test_mode['state'] = 'il'

test_mode.year = test_mode.year.astype('str')

test_mode.loc[test_mode['year'] != '2021', ['hybridper', 'virtualper', 'schoolmode']] = 0
test_mode.loc[test_mode['year'] != '2021', ['inpersonper']] = 1
test_mode['year_21'] = 1
test_mode.loc[test_mode['year'] != '2021', 'year_21'] = 0

il = test_mode.rename(columns = {'schoolcode':'mergecode', 'totaltested':'totaltest',
              'totalenrolled':'totalenroll'}).drop(columns = 'countycode')
il['year'] = il['year'].map({2017:'17', 2018:'18', 2019:'19', 2021:'21'})
il.set_index('year').to_csv('illinois_elapass.csv')